.partners {
  padding-top: var(--main-margin);
  background-color: var(--white);
  margin: 0 auto;
  width: min(85%, 1440px);

  &-main {
    text-align: center;
    margin: 0 auto;
    width: min(85%, 1440px);
    margin-bottom: calc(var(--base-margin) * 8);
  }

  &-content {
    display: flex;

    img {
      height: 100%;
      width: 50%;
      object-fit: cover;
    }
  }

  @media (max-width: 1024px) {
    &-content {
      width: 100%;
      padding: 0;

      img {
        display: none;
      }
    }
  }

  @media (max-width: 480px) {
    margin-top: calc(var(--base-margin) * 7.67);

    &-main {
      margin: 0;
      text-align: left;
    }

    &-content {
      width: 100%;
      padding: 0;

      img {
        display: none;
      }
    }
  }
}
