.charging-app {
  display: flex;
  padding: calc(var(--base-margin) * 10.333) calc(var(--base-margin) * 10.333) 0;
  gap: calc(var(--base-margin) * 5.333);
  position: relative;

  &:after {
    content: '';
    position: absolute;
    top: calc(var(--base-margin) * 42);
    left: 0;
    bottom: 0;
    width: 100vw;
    background-color: var(--white);
    z-index: -1;
  }

  .img {
    width: 50%;
  }

  .content {
    width: 50%;

    .divider {
      padding: calc(var(--base-margin) * 2);
    }

    button {
      padding-left: 0;
    }
  }
}
