.charging-app {
  display: flex;
  padding: var(--main-margin) 0 0;
  gap: calc(var(--base-margin) * 5.333);
  position: relative;
  margin: 0 auto;
  width: min(85%, 1440px);

  &:after {
    content: '';
    position: absolute;
    top: calc(var(--base-margin) * 42);
    left: 0;
    bottom: 0;
    width: 100vw;
    background-color: var(--white);
    z-index: -1;
  }

  .img {
    width: 50%;
  }

  .content {
    width: 50%;

    .divider {
      padding: calc(var(--base-margin) * 2);
    }

    button {
      padding-left: 0;
    }
  }

  @media (max-width: 1024px) {
    flex-direction: column;
    gap: calc(var(--base-margin) * 2);
    width: 100%;

    .img,
    .content {
      width: 100%;
    }
  }

  @media (max-width: 480px) {
    margin-top: calc(var(--base-margin) * 7.67);
    flex-direction: column;
    gap: calc(var(--base-margin) * 2);

    .img,
    .content {
      width: 100%;
    }
  }
}
