.partners-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 50%;

  .icon-text {
    margin-bottom: calc(var(--base-margin) * 3);
  }

  p.title {
    font-size: calc(var(--base-font) * 1.25);
    font-weight: 500;
    line-height: calc(var(--base-font) * 1.875);
    margin-bottom: calc(var(--base-margin) * 0.667);
  }

  p.sub-title {
    font-size: calc(var(--base-font) * 1);
    font-weight: 400;
    line-height: calc(var(--base-font) * 1.5);
    color: var(--gray-500);
  }

  @media (max-width: 1024px) {
    width: 100%;

    .n-button {
      margin: 0 auto;
    }
  }

  @media (max-width: 480px) {
    margin-top: calc(var(--base-margin) * 2);
    flex-direction: column;
    padding: 0;

    .icon-text {
      margin-bottom: calc(var(--base-margin) * 2);
    }

    .n-button {
      width: 100%;
    }
  }
}
