.remea-header {
  height: calc(var(--base-margin) * 6.667);
  display: flex;
  align-items: center;
  width: min(85%, 1440px);
  margin: 0 auto;

  button.menu,
  a.menu {
    display: none;
  }

  @media (max-width: 1024px) {
    width: min(100%, 1024px);
  }

  @media (max-width: 480px) {
    justify-content: flex-start;

    button,
    a {
      display: none;

      &.menu {
        display: initial;
        margin-left: auto;
      }
    }
  }
}
