.remea-header {
  height: calc(var(--base-margin) * 6.667);
  display: flex;
  align-items: center;
  padding: 0 calc(var(--base-margin) * 2);
  margin: 0 auto;
  gap: calc(var(--base-margin) * 2);
  width: min(90%, 1440px);

  a,
  button {
    padding: 0;
  }

  button.menu,
  a.menu {
    display: none;
  }

  @media (max-width: 1024px) {
    width: min(100%, 1024px);
  }

  @media (max-width: 480px) {
    justify-content: flex-start;

    button,
    a {
      display: none;

      &.menu {
        display: initial;
        margin-left: auto;
      }
    }
  }
}
