.free-consultation {
  display: flex;
  color: var(--white);
  padding: var(--main-margin) 0 0;
  background-color: var(--white);
  margin: 0 auto;
  width: min(85%, 1440px);

  .content,
  .img {
    width: 50%;
  }

  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: calc(var(--base-margin) * 5);
    background-color: var(--secondary);
    border-radius: calc(var(--base-margin) * 1.333) 0 0 calc(var(--base-margin) * 1.333);

    .title {
      margin: 0;
      font-size: calc(var(--base-font) * 1.5);
      font-weight: 600;
    }

    .text {
      margin: 0 0 calc(var(--base-margin) * 3) 0;
      font-size: calc(var(--base-font) * 1);
      font-weight: 400;
    }

    .btn {
      color: var(--secondary);
    }
  }

  @media (max-width: 1024px) {
    width: 100%;

    .content {
      padding-left: calc(var(--base-margin) * 2);

      .title {
        font-size: calc(var(--base-font) * 1);
      }

      .text {
        font-size: calc(var(--base-font) * 0.875);
      }
    }
  }

  @media (max-width: 480px) {
    display: none;
  }
}
