.free-consultation {
  display: flex;
  color: var(--white);
  margin: calc(var(--base-margin) * 10.333) calc(var(--base-margin) * 12.5) 0;

  .content,
  .img {
    width: 50%;
  }

  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: calc(var(--base-margin) * 5);
    background-color: var(--secondary);
    border-radius: calc(var(--base-margin) * 1.333) 0 0 calc(var(--base-margin) * 1.333);

    .title {
      margin: 0;
      font-size: calc(var(--base-font) * 1.5);
      font-weight: 600;
    }

    .text {
      margin: 0 0 calc(var(--base-margin) * 3) 0;
      font-size: calc(var(--base-font) * 1);
      font-weight: 400;
    }

    .btn {
      color: var(--secondary);
    }
  }
}
