.features {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: var(--main-margin) calc(var(--base-margin) * 2) 0;
  text-align: center;
  gap: calc(var(--base-margin) * 7.67);
  background-color: var(--white);

  .main {
    width: min(80%, 1440px);
  }

  .text {
    display: flex;
    gap: calc(var(--base-margin) * 2.667);
    width: min(100%, 1440px);
  }

  @media (max-width: 1024px) {
    .main {
      order: 2;
    }

    .text {
      width: 100%;
      order: 3;
    }

    .img {
      width: min(85%, 1024px);
      order: 1;
    }
  }

  @media (max-width: 480px) {
    margin-top: calc(var(--base-margin) * 7.67);
    text-align: left;
    gap: calc(var(--base-margin) * 2);

    .main {
      margin: 0;
      order: 2;
      width: 100%;
      text-align: center;
    }

    .img {
      width: 100%;
      order: 1;
    }

    .text {
      text-align: center;
      flex-direction: column;
      order: 3;
      width: 100%;
    }
  }
}
