body {
  font-family: 'Inter', Helvetica, Arial, Sans-Serif;
  font-weight: 400;
  font-size: var(--base-font);
}

.text-regular {
  font-weight: 400;
}

.text-medium {
  font-weight: 500;
}

.text-semibold {
  font-weight: 600;
}

.text-bold {
  font-weight: 700;
}

.text-xs {
  font-size: calc(var(--base-font) * 0.75);
  line-height: calc(var(--base-font) * 1.125);
}

.text-sm {
  font-size: calc(var(--base-font) * 0.875);
  line-height: calc(var(--base-font) * 1.25);
}

.text-md {
  font-size: calc(var(--base-font) * 1);
  line-height: calc(var(--base-font) * 1.5);
}

.text-lg {
  font-size: calc(var(--base-font) * 1.125);
  line-height: calc(var(--base-font) * 1.75);
}

.text-xl {
  font-size: calc(var(--base-font) * 1.25);
  line-height: calc(var(--base-font) * 1.875);
}

.display-xs {
  font-size: calc(var(--base-font) * 1.5);
  line-height: calc(var(--base-font) * 2);
}

.display-sm {
  font-size: calc(var(--base-font) * 1.875);
  line-height: calc(var(--base-font) * 2.375);
}

.display-md {
  font-size: calc(var(--base-font) * 2.25);
  line-height: calc(var(--base-font) * 2.75);
  letter-spacing: -2%;
}

.display-lg {
  font-size: calc(var(--base-font) * 3);
  line-height: calc(var(--base-font) * 3.75);
  letter-spacing: -2%;
}

.display-xl {
  font-size: calc(var(--base-font) * 3.75);
  line-height: calc(var(--base-font) * 4.5);
  letter-spacing: -2%;
}

.display-2xl {
  font-size: calc(var(--base-font) * 4.5);
  line-height: calc(var(--base-font) * 5.625);
  letter-spacing: -2%;
}
