body {
  font-family: 'Inter', Helvetica, Arial, Sans-Serif;
  font-weight: 400;
  font-size: var(--base-font);
  background-color: var(--white);
}

.text-regular {
  font-weight: 400;
}

.text-medium {
  font-weight: 500;
}

.text-semibold {
  font-weight: 600;
}

.text-bold {
  font-weight: 700;
}

.text-xs {
  font-size: calc(var(--base-font) * 0.75);
}

.text-sm {
  font-size: calc(var(--base-font) * 0.875);
}

.text-md {
  font-size: calc(var(--base-font) * 1);
}

.text-lg {
  font-size: calc(var(--base-font) * 1.125);
}

.text-xl {
  font-size: calc(var(--base-font) * 1.25);
}

.display-xs {
  font-size: calc(var(--base-font) * 1.5);
}

.display-sm {
  font-size: calc(var(--base-font) * 1.875);
}

.display-md {
  font-size: calc(var(--base-font) * 2.25);
}

.display-lg {
  font-size: calc(var(--base-font) * 3);
}

.display-xl {
  font-size: calc(var(--base-font) * 3.75);
}

.display-2xl {
  font-size: calc(var(--base-font) * 4.5);
}

.text-center {
  text-align: center;
}
