// Miscelaneous
// ----------------------------------------------------------------------
.invisible {
  visibility: hidden;
}

// Width
// ----------------------------------------------------------------------
.w-100vw {
  width: 100vw;
}

.w-50vw {
  width: 50vw;
}

// Height
// ----------------------------------------------------------------------
.h-100vh {
  height: 100vh;
}

// Cursor
// ----------------------------------------------------------------------
.cursor-pointer,
.clickable {
  cursor: pointer;
}

// Margin
// ----------------------------------------------------------------------
.m-0 {
  margin: 0;
}

.ml-7 {
  margin-left: calc(var(--base-margin) * 2.75);
}

.ml-auto {
  margin-left: auto;
}

.mx-5 {
  margin-left: calc(var(--base-margin) * 1.25);
  margin-right: calc(var(--base-margin) * 1.25);
}

.mb-5 {
  margin-bottom: calc(var(--base-margin) * 1.25);
}

// Padding
// ----------------------------------------------------------------------

// Breakpoints
// ----------------------------------------------------------------------
.isDesktop {
  display: block;
}

.isMobile {
  display: none;
}

@media (max-width: 480px) {
  .isDesktop {
    display: none;
  }

  .isMobile {
    display: block;
  }
}
