:root {
  // colors
  --primary: #192b42;
  --secondary: #47b2a8;
  --alert: #e24465;
  --warning: #ffa726;

  // Grays
  --gray-50: #f6f8fa;
  --gray-100: #f3f5f7;
  --gray-200: #e8ecf0;
  --gray-300: #cbd3dd;
  --gray-400: #acb6c4;
  --gray-500: #8c99ab;
  --gray-600: #5d6f86;
  --gray-700: #4c5c70;
  --gray-800: #142235;
  --gray-900: #0f1a28;

  // Whites
  --white: #ffffff;
  --white-10: #f9fafb;

  //Padding and margin
  --base-margin: 0.75rem;
  --base-font: 100%;
}
