.questions {
  display: flex;
  padding: calc(var(--base-margin) * 4);
  align-items: center;
  background-color: var(--secondary);
  border-radius: calc(var(--base-margin) * 1.333);
  color: var(--white);
  margin: var(--main-margin) var(--main-margin) 0;

  .content,
  .actions {
    width: 50%;
  }

  .content {
    .title {
      margin: 0;
      font-size: calc(var(--base-font) * 1.5);
      font-weight: 600;
    }

    .text {
      margin: 0 0 calc(var(--base-margin) * 3) 0;
      font-size: calc(var(--base-font) * 1);
      font-weight: 400;
    }
  }

  .actions {
    text-align: right;

    .n-button--info-type {
      color: var(--secondary);
    }
  }

  @media (max-width: 480px) {
    margin-top: calc(var(--base-margin) * 7.67);
    flex-direction: column;
    padding: calc(var(--base-margin) * 3);

    .content {
      width: 100%;
      text-align: left;
    }

    .actions {
      width: 100%;
      text-align: center;

      .n-button {
        width: 100%;
      }
    }
  }
}
