.solution {
  display: flex;

  &-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0 var(--main-margin);
  }

  &-img {
    position: relative;

    .badge-grid {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      display: grid;
      grid-template-columns: repeat(11, 1fr);
      gap: calc(var(--base-margin) * 1.667);
      padding: calc(var(--base-margin) * 5) calc(var(--base-margin) * 7);

      .badge {
        font-size: calc(var(--base-font) * 0.875);
        color: rgba(249, 250, 251, 0.7);
        font-weight: 600;
        text-align: center;
        padding: calc(var(--base-margin) * 0.5);
        border: 1px solid rgba(249, 250, 251, 0.7);
        border-radius: calc(var(--base-margin) * 0.5);

        &.active {
          background-color: var(--secondary);
          color: var(--white);
          border-color: var(--secondary);
        }
      }

      .residential {
        grid-area: 1 / 1 / auto / span 3;
      }
      .commercial {
        grid-area: 1 / 4 / auto / span 3;
      }
      .prop_dev {
        grid-area: 1 / 7 / auto / span 5;
      }
      .charging_point {
        grid-area: 2 / 1 / auto / span 5;
      }
      .utility {
        grid-area: 2 / 6 / auto / span 4;
      }
      .eics {
        grid-area: 2 / 10 / auto / span 2;
      }
      .hospitality {
        grid-area: 3 / 1 / auto / span 3;
      }
      .ev_fleets {
        grid-area: 3 / 4 / auto / span 3;
      }
      .facility {
        grid-area: 3 / 7 / auto / span 5;
      }
    }
  }

  @media (max-width: 1024px) {
    &-img,
    &-content {
      width: 50%;
    }

    &-content {
      padding-left: 0;
      padding-right: calc(var(--base-margin) * 0.667);
    }

    .badge-grid {
      padding: calc(var(--base-margin) * 0.667);
      top: 50%;
      transform: translateY(-50%);

      .badge {
        font-size: calc(var(--base-font) * 0.5);
      }
    }
  }

  @media (max-width: 480px) {
    flex-direction: column-reverse;
    padding-top: calc(var(--base-margin) * 5.333);
    gap: calc(var(--base-margin) * 2);

    &-img,
    &-content {
      width: 100%;
    }

    &-img {
      height: calc(var(--base-margin) * 20);

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }

    .badge-grid {
      padding: calc(var(--base-margin));
      top: 50%;
      transform: translateY(-50%);

      .badge {
        font-size: calc(var(--base-font) * 0.5);
      }
    }
  }
}
