.feature {
  &-icon {
  }

  &-title {
    font-size: calc(var(--base-font) * 1.25);
    font-weight: 500;
    line-height: calc(var(--base-font) * 1.875);
    margin-bottom: calc(var(--base-margin) * 0.67);
  }

  &-text {
    color: var(--gray-500);
    font-size: calc(var(--base-font) * 1);
    font-weight: 400;
    line-height: calc(var(--base-font) * 1.5);
  }
}
