.platform-overview {
  display: flex;
  margin: calc(var(--base-margin) * 10.333) calc(var(--base-margin) * 12.5) 0;
  gap: calc(var(--base-margin) * 5.333);

  &-img {
    width: 50%;
  }

  &-content {
    width: 50%;
  }
}
