.platform-overview {
  display: flex;
  padding: var(--main-margin) calc(var(--base-margin) * 2) 0;
  gap: calc(var(--base-margin) * 3);
  background-color: var(--white);
  margin: 0 auto;
  width: min(100%, 1440px);

  .img {
    width: 50%;
    object-fit: cover;
  }

  .content {
    width: 50%;
  }

  @media (max-width: 768px) {
    flex-direction: column;
    gap: calc(var(--base-margin) * 2);
    width: 85%;

    .img,
    .content {
      margin: 0 auto;
      width: 100%;
      text-align: center;
    }
  }

  @media (max-width: 480px) {
    margin-top: calc(var(--base-margin) * 7.67);
    flex-direction: column;
    gap: calc(var(--base-margin) * 2);
    width: min(100%, 800px);

    .img,
    .content {
      width: 100%;
    }
  }
}
