.platform-overview {
  display: flex;
  padding: var(--main-margin) var(--main-margin) 0;
  gap: calc(var(--base-margin) * 5.333);
  background-color: var(--white);

  .img {
    width: 50%;
  }

  .content {
    width: 50%;
  }

  @media (max-width: 480px) {
    margin-top: calc(var(--base-margin) * 7.67);
    flex-direction: column;
    gap: calc(var(--base-margin) * 2);

    .img,
    .content {
      width: 100%;
    }
  }
}
