.new-product {
  display: flex;
  padding: var(--main-margin) 0 0;
  margin: 0 auto;
  width: min(85%, 1440px);

  .content {
    padding-right: var(--main-margin);
  }

  .img {
    object-fit: contain;
  }

  .content,
  .img {
    width: 50%;
  }

  @media (max-width: 1024px) {
    margin-top: calc(var(--base-margin) * 7.67);
    flex-direction: column-reverse;
    padding: 0;
    width: 100%;

    .content {
      padding: 0;
      padding-top: calc(var(--base-margin) * 2);
      margin: 0 auto;
      width: min(85%, 1024px);
    }

    .img {
      margin: 0 auto;
      width: 75%;
    }
  }

  @media (max-width: 480px) {
    margin-top: calc(var(--base-margin) * 7.67);
    flex-direction: column-reverse;
    padding: 0;

    .content {
      padding: 0;
      padding-top: calc(var(--base-margin) * 2);
    }

    .content,
    .img {
      width: 100%;
    }
  }
}
