.white-label-link {
  border: 1px solid var(--secondary);
  border-radius: calc(var(--base-margin) * 1.333);
  mix-blend-mode: multiply;
  display: flex;
  align-items: center;
  gap: 12px;
  color: var(--secondary);
  font-size: calc(var(--base-font) * 0.875);
  font-weight: 500;

  .img {
    padding-right: calc(var(--base-margin) * 0.5);
  }

  @media (max-width: 480px) {
    font-size: calc(var(--base-font) * 0.75);
  }
}
