.remea-footer {
  display: flex;
  padding: var(--main-margin) var(--main-margin) 0;
  gap: calc(var(--base-margin) * 5.333);
  background-color: var(--white);

  .content {
    color: var(--gray-500);
    width: calc(var(--base-margin) * 22.25);
  }

  .links {
    display: flex;
    gap: calc(var(--base-margin) * 5.333);

    ul {
      display: flex;
      flex-direction: column;
      list-style: none;
      padding-left: 0;
      margin: 0;

      li.head {
        color: var(--gray-400);
        font-size: calc(var(--base-font) * 0.875);
      }

      a,
      button {
        padding-top: calc(var(--base-margin) * 1);
        padding-bottom: calc(var(--base-margin) * 1);
        padding-left: 0;
      }
    }
  }

  @media (max-width: 480px) {
    margin-top: calc(var(--base-margin) * 7.67);
    flex-direction: column;

    .links {
      display: grid;
      column-gap: 0;
      row-gap: calc(var(--base-margin) * 2);
      grid-template-columns: repeat(3, 1fr);
    }
  }
}
