.solutions {
  padding-top: var(--main-margin);
  background-color: var(--white);

  .solution {
    padding-bottom: var(--main-margin);
  }

  @media (max-width: 480px) {
    padding: var(--main-margin) 0 0;
    margin-top: calc(var(--base-margin) * 7.67);
  }
}
